
.acceuil {
  display: flex;
  justify-content: space-between;
}

.title-img-div {
  width: 100%;
  height: 40rem;
}

.title-img-h-div {
  color: white;
  position: relative;
  bottom: 16rem;
  right: 16rem;
  width: 300px;
  margin: 0 auto;
}

.title-img-h-div h1 {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 0.5rem;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.title-img-h-div h2:first-child {
  font-size: 2.6rem;
  margin-bottom: 2rem;
}

.title-img-h-div h2 {
  font-size: 2rem;
  font-weight: 100;
  letter-spacing: 0.5rem;
}

.title-background {
  width: 100%;
  height: 40rem;
  object-fit: cover;
}

.title-sidebar-div {
  width: 30%;
  min-width: 225px;
  background: #262626;
  color: #e6e6e6;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40rem;
}

.title-sidebar-div h3 {
  font-size: 4rem;
  margin: 2rem 0;
  font-family: "Bebas Neue", cursive;
  font-weight: 100;
}

.title-sidebar-div h4 {
  font-size: 1.6rem;
  font-weight: 100;
}

.title-fullstack-icon {
  height: 6rem;
  width: 6rem;
  filter: invert(100%);
  margin-bottom: 4rem;
}

.title-portfolio-icons {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 12rem;
  filter: invert(100%);
}

.title-linkedin-icon {
  height: 5rem;
  width: 5rem;
}

.title-github-icon {
  height: 4.25rem;
  width: 4.25rem;
}

.title-profession-h4 {
  margin-bottom: 1rem;
}

.title-email-h4 {
  margin-bottom: 0.5rem;
}

.title-sidebar-portfolio-img {
  margin-top: 2rem;
  width: 15rem;
  height: 15rem;
  border-radius: 15rem;
  border: 1rem solid #1a1a1a;
}

  


   