.footer {
    background: #003399;
    padding: 3rem 0;
  }
  
  footer {
    display: flex;
    justify-content: space-between;
  }

  .title-linkedin-icon {
    height: 5rem;
    width: 5rem;
  }
  
  .title-github-icon {
    height: 4.25rem;
    width: 4.25rem;
  }
  
  .title-profession-h4 {
    margin-bottom: 1rem;
  }
  
  .title-email-h4 {
    margin-bottom: 0.5rem;
  }